{% extends "base.html" %}
{% load zinnia_tags i18n %}
{% load url from future %}
{% get_tags as entry_tags %}

{% block page_title %}Blog{% endblock %}

{% block link %}
    <link rel="pingback" href="/xmlrpc/" />
{% endblock %}

{% block nav_blog %}<li class="active"><a href="{% url 'zinnia_entry_archive_index' %}">Blog</a></li>{% endblock %}

{% block body_class %}zinnia{% endblock %}

{% block body_content %}
        <div class="container">
            {% block breadcrumbs %}{% endblock %}
        </div>
        {% block slider %}{% endblock %}
        <div class="container">
            <div class="row">
                <div id="content" class="hfeed span8">
                    {% block content %}
                    {% endblock %}
                </div>
                <div id="sidebar" class="span4">
                    <div id="widget-welcome" class="widget well">
                        <h3>TextIsBeautiful Blog</h3>
                        <p>Discussions about text analytics, visualisations and how it all applies to the modern web. We will try and keep things interesting and relevant!</p>
                    </div>
                    <div class="search">
                        {% include "zinnia/tags/search_form.html" %}
                    </div>
                    {% block sidebar %}{% endblock %}
                </div>
            </div>
        </div>
{% endblock %}