{% extends "base.html" %}
{% block page_title %}About{% endblock %}
{% block body_content %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="index.html">Text is Beautiful</a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/about/">About</a></li>
                        <li><a href="/faq/">FAQ</a></li>
                        <li><a href="/create/">Create</a></li>
{#                        <li><a href="#">Login</a></li>#}
{#                        <li><a href="#">Register</a></li>#}
                        <li><a href="/contact/">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="header">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>About this site</h1>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h2>What is this place</h2>
                    <p>This is a place for you to create cool visuals using your own text. We try to make the visuals aesthetically appealing but also informative about the text they represent. In the future we hope to add user contributed visualisations to the mix as well.</p>
                    <p>This site was written by Kris and Ryan in our spare time. We launched the site with all functions being free. We hope to release more advanced features at a later date and some of them might be paid premium features. We are still mulling it over (covering hosting costs would be nice!). Feel free to <a href="/contact/">contact us</a> about any commercial propositions.</p>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h2>Why do we exist</h2>
                    <p>We live in a world where the importance of and volume of information being collected and made available ant an increasing rate. Most of this information is in the form of quantitative data. People tend to forget the qualitative stuff.</p>
                    <p>This trend started to change when Wordle came along. Wordle made text cool again. It was able to compete with the pretty visuals made using quantitative data. But at its heart Wordle is more about the visuals then it is about helping to understand the text. This is where we fit in.</p>
                    <p>We think it is possible to make text look beautiful (from an info vis standpoint) while also helping you to understand that text. We think cool things could happen if you add some modern text analytics to the revolution Wordle started.</p>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h2>I want more information</h2>
                    <p>If you want more information, especially if it is of a technical nature, then we strongly suggest you <strong>read the FAQ</strong>. Everyone should <strong>read the FAQ</strong> before they start. If that isn't enough then <a href="/contact/">contact us</a>.</p>
                </div>
            </div>

            {#            <div class="row">#}
{#                <div class="span12">#}
{#                    <h2 class="txt-middle">Our Team</h2>#}
{#                    <hr class="dashed">#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="span12">#}
{#                    <ul class="thumbnails">#}
{#                        <li class="span3">#}
{#                            <div id="team" class="thumbnail">#}
{#                                <img alt="" src="http://quickimage.it/300x180">#}
{#                                <div class="caption">#}
{#                                    <h4>John Smith</h4>#}
{#                                    <p><em>Founder</em></p>#}
{#                                    <div class="social">#}
{#                                        <ul class="unstyled">#}
{#                                            <li><a class="facebook" href=""><i class="icon-facebook-sign"></i></a></li>#}
{#                                            <li><a class="twitter" href=""><i class="icon-twitter-sign"></i></a></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="span3">#}
{#                            <div id="team" class="thumbnail">#}
{#                                <img alt="" src="http://quickimage.it/300x180">#}
{#                                <div class="caption">#}
{#                                    <h4>John Smith</h4>#}
{#                                    <p><em>Founder</em></p>#}
{#                                    <div class="social">#}
{#                                        <ul class="unstyled">#}
{#                                            <li><a class="facebook" href=""><i class="icon-facebook-sign"></i></a></li>#}
{#                                            <li><a class="twitter" href=""><i class="icon-twitter-sign"></i></a></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="span3">#}
{#                            <div id="team" class="thumbnail">#}
{#                                <img alt="" src="http://quickimage.it/300x180">#}
{#                                <div class="caption">#}
{#                                    <h4>John Smith</h4>#}
{#                                    <p><em>Founder</em></p>#}
{#                                    <div class="social">#}
{#                                        <ul class="unstyled">#}
{#                                            <li><a class="facebook" href=""><i class="icon-facebook-sign"></i></a></li>#}
{#                                            <li><a class="twitter" href=""><i class="icon-twitter-sign"></i></a></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="span3">#}
{#                            <div id="team" class="thumbnail">#}
{#                                <img alt="" src="http://quickimage.it/300x180">#}
{#                                <div class="caption">#}
{#                                    <h4>John Smith</h4>#}
{#                                    <p><em>Founder</em></p>#}
{#                                    <div class="social">#}
{#                                        <ul class="unstyled">#}
{#                                            <li><a class="facebook" href=""><i class="icon-facebook-sign"></i></a></li>#}
{#                                            <li><a class="twitter" href=""><i class="icon-twitter-sign"></i></a></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="span3">#}
{#                            <div id="team" class="thumbnail">#}
{#                                <img alt="" src="http://quickimage.it/300x180">#}
{#                                <div class="caption">#}
{#                                    <h4>John Smith</h4>#}
{#                                    <p><em>Founder</em></p>#}
{#                                    <div class="social">#}
{#                                        <ul class="unstyled">#}
{#                                            <li><a class="facebook" href=""><i class="icon-facebook-sign"></i></a></li>#}
{#                                            <li><a class="twitter" href=""><i class="icon-twitter-sign"></i></a></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="span3">#}
{#                            <div id="team" class="thumbnail">#}
{#                                <img alt="" src="http://quickimage.it/300x180">#}
{#                                <div class="caption">#}
{#                                    <h4>John Smith</h4>#}
{#                                    <p><em>Founder</em></p>#}
{#                                    <div class="social">#}
{#                                        <ul class="unstyled">#}
{#                                            <li><a class="facebook" href=""><i class="icon-facebook-sign"></i></a></li>#}
{#                                            <li><a class="twitter" href=""><i class="icon-twitter-sign"></i></a></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="span3">#}
{#                            <div id="team" class="thumbnail">#}
{#                                <img alt="" src="http://quickimage.it/300x180">#}
{#                                <div class="caption">#}
{#                                    <h4>John Smith</h4>#}
{#                                    <p><em>Founder</em></p>#}
{#                                    <div class="social">#}
{#                                        <ul class="unstyled">#}
{#                                            <li><a class="facebook" href=""><i class="icon-facebook-sign"></i></a></li>#}
{#                                            <li><a class="twitter" href=""><i class="icon-twitter-sign"></i></a></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="span3">#}
{#                            <div id="team" class="thumbnail">#}
{#                                <img alt="" src="http://quickimage.it/300x180">#}
{#                                <div class="caption">#}
{#                                    <h4>John Smith</h4>#}
{#                                    <p><em>Founder</em></p>#}
{#                                    <div class="social">#}
{#                                        <ul class="unstyled">#}
{#                                            <li><a class="facebook" href=""><i class="icon-facebook-sign"></i></a></li>#}
{#                                            <li><a class="twitter" href=""><i class="icon-twitter-sign"></i></a></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
{% endblock %}