{% extends "base.html" %}

{% block page_title %}About{% endblock %}

{% block nav_about %}<li class="active"><a href="{% url about %}">About</a></li>{% endblock %}

{% block body_content %}
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>About this site</h1>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h2>What is this place</h2>
                    <p>This is a place for you to create cool visuals using your own text. We try to make the visuals aesthetically appealing but also informative about the text they represent. In the future we hope to add user contributed visualisations to the mix as well.</p>
                    <p>This site was written by Kris and Ryan in our spare time. We launched the site with all functions being free. We hope to release more advanced features at a later date and some of them might be paid premium features. We are still mulling it over (covering hosting costs would be nice!). Feel free to <a href="{% url contact %}">contact us</a> about any commercial propositions.</p>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h2>Why do we exist</h2>
                    <p>We live in a world where the importance and volume of information being collected and made available is increasing quickly. Despite the availability of large quantities of free-form text, much of the information is only considered in a quantitative context. We often tend to omit qualitative analysis and exploration.</p>
                    <p>This trend started to change when Wordle came along. Wordle made text cool again. It was able to compete with the pretty visuals made using quantitative data. But at its heart Wordle is more about the visuals then it is about helping to understand the text. This is where textisbeautiful.net fits in.</p>
                    <p>We think it is possible to make text look beautiful (from an info vis standpoint) while also helping you to understand that text. We think cool things could happen if you add some modern text analytics to the revolution Wordle started. So that's what we have endeavoured to do.</p>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h2>I want more information</h2>
                    <p>If you want more information, especially if it is of a technical nature, then we strongly suggest you <a href="{% url faq %}">read the FAQ</a>. <strong>Everyone</strong> should <a href="{% url faq %}">read the FAQ</a> before they start. If that isn't enough then <a href="{% url contact %}">contact us</a>. Oh, and don't forget, <a href="{% url faq %}">READ THE FAQ</a>!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}