<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <title>Text is Beautiful | {% block page_title %}Home{% endblock %}</title>
        <meta name="robots" content="follow, all" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="K & R Consultants">
        {% block meta %}
        <meta name="description" content="{% block meta-description %}Got an interesting piece of text you want to showcase? Looking for an innovative way to present some text to its audience? Want to get further insights into your text? Just like cool visualisations? TextIsBeautiful.net is the place for you.{% endblock %}" />
        <meta name="keywords" content="text analytics, word cloud, concept cloud, concept web, correlation wheel, info graphics, visualisations, text, concepts, leximancer, wordle">
        {% endblock %}
        <link rel="home" href="http://textisbeautiful.net" />
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <!--[if lt IE 8]>
        <link href="{{ STATIC_URL }}css/font-awesome-ie7.css" rel="stylesheet">
        <![endif]-->
        <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/blue.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}img/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}img/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}img/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/ico/favicon.ico">
        {% block link %}{% endblock %}
        {% block script %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div class="navbar navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Text is Beautiful</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            {% block menu_items %}
                            {% block nav_home %}<li><a href="{% url home %}">Home</a></li>{% endblock %}
                            {% block nav_about %}<li><a href="{% url about %}">About</a></li>{% endblock %}
                            {% block nav_faq %}<li><a href="{% url faq %}">FAQ</a></li>{% endblock %}
                            {% block nav_blog %}<li><a href="/blog/">Blog</a></li>{% endblock %}
                            {% block nav_create %}<li><a href="{% url create %}">Create</a></li>{% endblock %}
                            {% block nav_feedback %}<li><a href="{% url feedback %}">Feedback</a></li>{% endblock %}
                            {% block nav_contact %}<li><a href="{% url contact %}">Contact</a></li>{% endblock %}
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </div>
            <div id="badIE" class="alert alert-error txt-middle" style="display:none;">
                <i class="icon-warning-sign"></i> Unfortunately this website does not currently support Internet Explorer 8 or lower. Please use an alternative browser (<a href="http://www.google.com/chrome" target="_blank">Chrome</a>, <a href="http://www.apple.com/safari/" target="_blank">Safari</a> or <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>).
            </div>
        </div>

        {% block  body_content %}{% endblock %}
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about/">About</a></li>
                            <li><a href="/faq/">FAQ</a></li>
                            <li><a href="/create/">Create</a></li>
                        </ul>
                    </div>
                    <div class="span4">
                        <h3>Stuff You Should See</h3>
                        <ul>
                            <li><a href="/blog/">Our Blog</a></li>
                            <li><a href="http://leximancer.com" target="_blank">Leximancer</a></li>
                            <li><a href="http://www.wordle.net" target="_blank">Wordle</a></li>
                            <li><a href="{% url faq %}">The FAQ</a></li>
                        </ul>
                    </div>
                    <div class="span4">
                        <h3>Tools We Use</h3>
                        <ul>
                            <li><a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a></li>
                            <li><a href="http://d3js.org/" target="_blank">D3</a></li>
                            <li><a href="http://jquery.com/" target="_blank">Jquery</a></li>
                            <li><a href="http://glyphicons.com/" target="_blank">Glyphicons</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="copywrite">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <p>&copy; 2012 Kris & Ryan. Source code on <a href="https://github.com/rstuart85/textisbeautiful" target="_blank">Github</a>. <span id="totop" class="pull-right">Back to Top <i class="icon-arrow-up"></i></span></p>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/jquery-1.8.2.min.js"><\/script>')</script>
            <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
            <script>
                $(document).ready(function(){
                    $("[rel=tooltip]").tooltip();
                    $("#totop").click(function () {
                        $("body, html").animate({
                            scrollTop: 0
                        }, 300);
                        return false;
                    });
                    // IE eats babies
                    if ($.browser.msie && parseInt($.browser.version, 10) < 9) {
                        $("#badIE").css('display', 'block');
                    }
                });
            </script>
            {% if not debug %}
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-36545610-1']);
                _gaq.push(['_setDomainName', 'textisbeautiful.net']);
                _gaq.push(['_setAllowLinker', true]);
                _gaq.push(['_trackPageview']);
                (function() {
                 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                 })();
</script>
<script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
     var t   = document.createElement('script');
     t.type  = 'text/javascript';
     t.async = true;
     t.id    = 'gauges-tracker';
     t.setAttribute('data-site-id', '50d28757613f5d1d9e000009');
     t.src = '//secure.gaug.es/track.js';
     var s = document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(t, s);
     })();
</script>
{% endif %}
{% block extra_script %}{% endblock %}
    </body>
</html>
