{% extends "base.html" %}
{% block page_title %}Create{% endblock %}
{% block menu_items %}
                        <li><a href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/faq/">FAQ</a></li>
                        <li class="active"><a href="/create/">Create</a></li>
                        <li><a href="/contact/">Contact</a></li>
{% endblock %}
{% block body_content %}
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>Create Something Beautiful</h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        {% if text_error %}
                        <div class="alert alert-error">
                            <strong>Error!</strong> You managed to submit a number of characters outside the accepted range (playing with the JavaScript are we!?). Please submit between <strong>5000 and 100,000</strong> characters!
                        </div>
                        {% endif %}
                        {% if wiki_error %}
                            <div class="alert alert-error">
                                <strong>Error!</strong> That doesn't look like a Wikipedia URL to us. Apologies if we have it wrong.
                            </div>
                        {% endif %}
                        <p>You've decided to create something beautiful, good to hear! It's pretty simple from here. Just copy and paste the text you want to use for your creation below.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <form id="textForm" method="POST" action="/result/">
                            {% csrf_token %}
                            <div id="theText" class="control-group">
                                <textarea class="span9" rows="10" name="text_content"></textarea>
                                <small><span id="numChars" class="text-error">0</span> characters so far.</small>
                                <span class="help-block">Min 5,000 / Max 100,000 characters.</span>
                            </div>
                            <button type="submit" class="btn btn-success">Visualise Your Text&nbsp;&nbsp;<i class="icon-chevron-right icon-white"></i></button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="span12" style="text-align: center">
                        <h1>OR</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <p>Haven't got any text? Why not try a <a href="http://en.wikipedia.org/wiki/Main_Page" target="_blank">Wikipedia</a> page instead?</p>
                        <form id="wikiForm" method="POST" action="/result/">
                            {% csrf_token %}
                            <div class="control-group">
                               <input type="text" class="span9" name="wiki_url" placeholder="Paste the Wikipedia URL here...">
                            </div>
                            <button type="submit" class="btn btn-primary">Visualise Wikipedia&nbsp;&nbsp;<i class="icon-chevron-right icon-white"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_script %}
    <script src="{{ STATIC_URL }}js/jquery.format-1.2.min.js"></script>
    <script>
        $(document).ready(function() {
            var typewatch = (function(){
                var timer = 0;
                return function(callback, ms){
                    clearTimeout (timer);
                    timer = setTimeout(callback, ms);
                }
            })();
            $("#theText").keyup(function(event) {
                typewatch(function() {
                    var chars = $("#theText > textarea").get(0).value.length;
                    $('#numChars').text($.format.number(chars, '#,##0'));
                    if (chars >= 5000 && chars <= 100000) {
                        $('#numChars').removeClass().addClass("text-success");
                        $("#theText").removeClass("error");
                    } else {
                        $('#numChars').removeClass().addClass("text-error");
                    }
                }, 500);
            });
{#            $("#textForm").submit(function(event) {#}
{#                var chars = $("#theText > textarea").val().length;#}
{#                if (chars < 5000 || chars > 100000) {#}
{#                    $("#theText").addClass("error");#}
{#                    return false;#}
{#                }#}
{#            });#}
        });
    </script>
{% endblock %}