{% extends "base.html" %}
{% block page_title %}Home{% endblock %}
{% block nav_home %}<li class="active"><a href="{% url home %}">Home</a></li>{% endblock %}
{% block body_content %}
        <div id="landing">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <h1>Make your text beautiful!</h1>
                        <p>Have an interesting piece of text you want to showcase? Looking for innovative ways to present your text? Want to garner deeper insight from your text? Welcome!</p>
                        <p>We identify emergent <a href="{% url faq %}##2_2">concepts</a> and utilise a rich array of metrics to highlight meaningful relationships and real insight into your text. This deeper context is simply unavailable to many tools that rely solely on word counting. Don't take our word for it, try it for yourself! And please don't forget to tell us what you think via our <a href="{% url feedback %}">Feedback</a> page!</p>
                        <p><a href="{% url faq %}" class="btn btn-success btn-action">Read the FAQ</a> <a href="{% url create %}" class="btn btn-primary btn-action">Make Text Beautiful Now&nbsp;&nbsp;<i class="icon-chevron-right icon-white"></i></a></p>
                    </div>
                </div>
            </div>
        </div>

        <div id="content" class="txt-middle">
            <div class="container">
                <div class="row">
                    <p>Here is some good looking text we prepared earlier....</p>
                    <div class="span4">
                        <img alt="image" src="{{ STATIC_URL }}img/star_wars_cloud_400x200.png" class="img-polaroid">
                        <h2>Concept Cloud</h2>
                        <p>The <a href="http://www.imsdb.com/Movie%20Scripts/Star%20Wars:%20Return%20of%20the%20Jedi%20Script.html" target="_blank">Star Wars: Return of the Jedi</a> script as a concept cloud.</p>
                    </div>
                    <div class="span4">
                        <img alt="image" src="{{ STATIC_URL }}img/churchill_web_400x200.png" class="img-polaroid">
                        <h2>Concept Web</h2>
                        <p>The <a href="http://en.wikipedia.org/wiki/Winston_Churchill" target="_blank">Winston Churchill Wikipedia page</a> as a concept web.</p>
                    </div>
                    <div class="span4">
                        <img alt="image" src="{{ STATIC_URL }}img/lwp_cw_400x200.png" class="img-polaroid">
                        <h2>Correlation Wheel</h2>
                        <p>Strongly correlated concepts discovered in the <a href="https://www.leximancer.com/lmedia/Leximancer_White_Paper_2010.pdf" target="_blank">Leximancer White Paper</a>.</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block extra_script %}
{% endblock %}
