{% extends "base.html" %}
{% block page_title %}Home{% endblock %}
{% block menu_items %}
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/faq/">FAQ</a></li>
                        <li><a href="/create/">Create</a></li>
                        <li><a href="/contact/">Contact</a></li>
{% endblock %}
{% block body_content %}


        <div id="landing">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <h1>Make your text beautiful!</h1>
                        <p>Got an interesting piece of text you want to showcase? Looking for an innovative way to present some text to its audience? Want to get further insights into your text? Just like cool visualisations? Welcome!</p>
                        <p><a href="/faq/" class="btn btn-success btn-action">Read the FAQ</a> <a href="/create/" class="btn btn-primary btn-action">Make Text Beautiful Now&nbsp;&nbsp;<i class="icon-chevron-right icon-white"></i></a></p>
                        <div id="badIE" class="alert" style="display:none;">
                            <strong>Warning!</strong> It appears you are using an old version of IE. This website only works with version 9 or above of IE. Either upgrade your version of IE or use a more modern browser (<a href="http://www.google.com/chrome" target="_blank">Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a> to name but a few).
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="content" class="txt-middle">
            <div class="container">
                <div class="row">
                    <p>Here is some good looking text we prepared earlier....</p>
                    <div class="span4">
                        <a class="thumbnail" href="#">
                            <img alt="image" src="{{ STATIC_URL }}img/alice_400x200.png">
                        </a>
                        <h2>Concept Cloud</h2>
                        <p>The text of the Alice In Wonderland book (chapters 1-8) as a concept cloud.</p>
                    </div>
                    <div class="span4">
                        <a class="thumbnail" href="#">
                            <img alt="image" src="{{ STATIC_URL }}img/economics_web_400x200.png">
                        </a>
                        <h2>Concept Web</h2>
                        <p>The economics Wikipedia page as a concept web.</p>
                    </div>
                    <div class="span4">
                        <a class="thumbnail" href="">
                            <img alt="image" src="http://quickimage.it/400x200">
                        </a>
                        <h2>Relationship Wheel</h2>
                        <p>Small description of a relationship wheel.</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block extra_script %}
        <script>
            $(document).ready(function() {
                // IE Sucks!
                if ($.browser.msie && parseInt($.browser.version, 10) <= 8) {
                    $("#badIE").css('display', 'block');
                }
            })
        </script>
{% endblock %}