{% extends "base.html" %}
{% block page_title %}Home{% endblock %}
{% block menu_items %}
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/faq/">FAQ</a></li>
                        <li><a href="/create/">Create</a></li>
                        <li><a href="/contact/">Contact</a></li>
{% endblock %}
{% block body_content %}


        <div id="landing">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <h1>Make your text beautiful!</h1>
                        <p>Got an interesting piece of text you want to showcase? Looking for an innovative way to present some text to its audience? Want to get further insights into your text? Just like cool visualisations? Welcome!</p>
                        <p><a href="/faq/" class="btn btn-success btn-action">Read the FAQ</a> <a href="/create/" class="btn btn-primary btn-action">Make Text Beautiful Now&nbsp;&nbsp;<i class="icon-chevron-right icon-white"></i></a></p>
                    </div>
                </div>
            </div>
        </div>

        <div id="content" class="txt-middle">
            <div class="container">
                <div class="row">
                    <p>Here is some good looking text we prepared earlier....</p>
                    <div class="span4">
                        <a class="thumbnail" href="">
                            <img alt="image" src="http://quickimage.it/400x200">
                        </a>
                        <h2>Vis 1</h2>
                        <p>Small description of a past vis.</p>
                    </div>
                    <div class="span4">
                        <a class="thumbnail" href="">
                            <img alt="image" src="http://quickimage.it/400x200">
                        </a>
                        <h2>Vis 2</h2>
                        <p>Small description of a past vis.</p>
                    </div>
                    <div class="span4">
                        <a class="thumbnail" href="">
                            <img alt="image" src="http://quickimage.it/400x200">
                        </a>
                        <h2>Vis 3</h2>
                        <p>Small description of a past vis.</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}